.button-filter {
  margin: 0 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0 none;
  cursor: pointer;

  &:hover {
    background-color: #61dafb;
    color: #fff;
  }

  &.active {
    border-color: #61dafb;
  }
}
